@import "tailwindcss";
@import "tw-animate-css";
@import "tw-shimmer";
@reference "../node_modules/@speakeasy-api/moonshine/src/global.css";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Diatype";
  src: url("/fonts/diatype/ABCDiatype-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Diatype";
  src: url("/fonts/diatype/ABCDiatype-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Diatype Mono";
  src: url("/fonts/diatype-mono/ABCDiatypeMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Diatype Mono";
  src: url("/fonts/diatype-mono/ABCDiatypeMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Tobias";
  src: url("/fonts/tobias/Tobias-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "speakeasyAscii";
  src: url("/fonts/speakeasy/speakeasy-ascii.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

:root {
  --optional-label: "optional";

  --radius: 0.625rem;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --header-height: 3rem;
  --sidebar-width: 16rem;

  --muted-foreground: oklch(0.553 0.013 58.071);
  --color-muted-foreground: var(--muted-foreground);
}

@layer base {
  * {
    @apply border-border outline-ring;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-diatype);
  }
  button {
    @apply cursor-pointer;
  }
}

.trans {
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
