mise.local.toml
*.tsbuildinfo
node_modules
bin
junit-report.xml
.mise-tasks/local
.assets
.vscode/*
!.vscode/extensions.json
.idea
/server/goa*
/server/gram
/scratch
.speakeasy/temp
mprocs.log
__debug_bin*
go.work
go.work.sum
.DS_Store
.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info

**/.claude/settings.local.json
