services:
  gram-db:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
  gram-cache:
    image: redis:6.2-alpine
    restart: unless-stopped
    volumes:
      - cache_data:/var/lib/gram-cache/data
    ports:
      - "${GRAM_REDIS_CACHE_ADDR}:35299"
    command: redis-server --port 35299 --requirepass xi9XILbY

  gram-temporal:
    image: temporalio/server:1.27.2
    restart: unless-stopped
    ports:
      - "${TEMPORAL_PORT}:7233"
      - "${TEMPORAL_WEB_PORT}:8233"
    entrypoint: ["temporal"]
    command:
      [
        "server",
        "start-dev",
        "--ip",
        "0.0.0.0",
        "--ui-ip",
        "0.0.0.0",
        "--namespace",
        "default",
        "--db-filename",
        "/home/temporal/dev.db",
      ]
    volumes:
      - temporal_data:/home/temporal

  grafana:
    profiles: [observability]
    image: grafana/grafana-enterprise:11.6.0
    restart: unless-stopped
    volumes:
      - grafana_data:/var/lib/grafana
      - ./local/grafana/grafana.ini:/etc/grafana/grafana.ini
      - ./local/grafana/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
    ports:
      - "${GRAFANA_PORT}:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    depends_on:
      - alloy
      - prometheus
      - tempo
  tempo:
    profiles: [observability]
    image: grafana/tempo:2.7.2
    restart: unless-stopped
    command: ["-config.file=/etc/tempo.yaml"]
    ports:
      - "${TEMPO_PORT}:3200"
    volumes:
      - tempo_data:/var/tempo
      - ./local/tempo/tempo.yaml:/etc/tempo.yaml
  alloy:
    profiles: [observability]
    image: grafana/alloy:v1.7.5
    volumes:
      - ./local/alloy/config.alloy:/etc/alloy/config.alloy
    command:
      - run
      - /etc/alloy/config.alloy
      - --storage.path=/var/lib/alloy/data
      - --server.http.listen-addr=0.0.0.0:12345
    ports:
      - "${ALLOY_PORT}:12345"
      - "${OTLP_GRPC_PORT}:4317"
    depends_on:
      - tempo
  prometheus:
    profiles: [observability]
    image: prom/prometheus:latest
    restart: unless-stopped
    command:
      - --config.file=/etc/prometheus.yaml
      - --web.enable-remote-write-receiver
      - --enable-feature=exemplar-storage
      - --enable-feature=native-histograms
    ports:
      - "${PROMETHEUS_PORT}:9090"
    volumes:
      - ./local/prometheus/prometheus.yaml:/etc/prometheus.yaml

volumes:
  postgres_data:
    driver: local
  cache_data:
    driver: local
  grafana_data:
    driver: local
  tempo_data:
    driver: local
  temporal_data:
    driver: local
