/* .message-bubble-assistant {
  position: relative;
  padding-left: 12px;
}

.message-bubble-assistant::before {
  content: '';
  position: absolute;
  bottom: 4px;
  left: -8px;
  height: 12px;
  width: 12px;
  background-color: hsl(var(--muted));
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.message-bubble-user {
  position: relative;
  padding-right: 12px;
}

.message-bubble-user::after {
  content: '';
  position: absolute;
  bottom: 4px;
  right: -8px;
  height: 12px;
  width: 12px;
  @apply bg-blue-500;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
} */
