@import "tailwindcss";

:root {
  --color-base-white: oklch(1 0 0);
  --color-base-black: oklch(0 0 0);

  /* Neutrals */
  --color-neutral-100: oklch(0.978 0 0);
  --color-neutral-200: oklch(0.943 0 0);
  --color-neutral-300: oklch(0.891 0 0);
  --color-neutral-400: oklch(0.792 0 0);
  --color-neutral-500: oklch(0.693 0 0);
  --color-neutral-600: oklch(0.594 0 0);
  --color-neutral-700: oklch(0.495 0 0);
  --color-neutral-800: oklch(0.396 0 0);
  --color-neutral-900: oklch(0.297 0 0);

  /* Brand red */
  --color-brand-red-100: oklch(0.784 0.181 29.5);
  --color-brand-red-200: oklch(0.726 0.175 34.2);
  --color-brand-red-300: oklch(0.669 0.169 38.7);
  --color-brand-red-400: oklch(0.613 0.163 43.2);
  --color-brand-red-500: oklch(0.557 0.157 47.7);
  --color-brand-red-600: oklch(0.471 0.144 51.7);
  --color-brand-red-700: oklch(0.385 0.131 55.7);
  --color-brand-red-800: oklch(0.299 0.118 59.7);
  --color-brand-red-900: oklch(0.213 0.105 63.7);

  --gradient-brand-red: radial-gradient(
    138.34% 138.34% at 0% 4.4%,
    var(--color-brand-red-900) 0%,
    var(--color-brand-red-800) 12.5%,
    var(--color-brand-red-700) 25%,
    var(--color-brand-red-600) 37.5%,
    var(--color-brand-red-500) 50%,
    var(--color-brand-red-400) 62.5%,
    var(--color-brand-red-300) 75%,
    var(--color-brand-red-200) 87.5%,
    var(--color-brand-red-100) 100%
  );

  /* Brand green */
  --color-brand-green-100: oklch(0.823 0.102 108.2);
  --color-brand-green-200: oklch(0.755 0.089 120.2);
  --color-brand-green-300: oklch(0.687 0.076 132.2);
  --color-brand-green-400: oklch(0.619 0.063 144.2);
  --color-brand-green-500: oklch(0.551 0.05 156.2);
  --color-brand-green-600: oklch(0.483 0.037 168.2);
  --color-brand-green-700: oklch(0.415 0.024 180.2);
  --color-brand-green-800: oklch(0.347 0.011 192.2);
  --color-brand-green-900: oklch(0.279 0 204.2);

  --gradient-brand-green: radial-gradient(
    137.26% 137.26% at 0% 0%,
    var(--color-brand-green-900) 0%,
    var(--color-brand-green-800) 12.5%,
    var(--color-brand-green-700) 25%,
    var(--color-brand-green-600) 37.5%,
    var(--color-brand-green-500) 50%,
    var(--color-brand-green-400) 62.5%,
    var(--color-brand-green-300) 75%,
    var(--color-brand-green-200) 87.5%,
    var(--color-brand-green-100) 100%
  );

  /* Brand blue */
  --color-brand-blue-100: oklch(1 0 0);
  --color-brand-blue-200: oklch(0.823 0.13 259.2);
  --color-brand-blue-300: oklch(0.755 0.123 259.2);
  --color-brand-blue-400: oklch(0.687 0.116 259.2);
  --color-brand-blue-500: oklch(0.619 0.109 259.2);
  --color-brand-blue-600: oklch(0.551 0.102 259.2);
  --color-brand-blue-700: oklch(0.483 0.095 259.2);
  --color-brand-blue-800: oklch(0.415 0.088 259.2);
  --color-brand-blue-900: oklch(0.347 0.081 259.2);

  --gradient-brand-blue: radial-gradient(
    141.42% 141.42% at 0% 0%,
    var(--color-brand-blue-900) 0%,
    var(--color-brand-blue-800) 12.5%,
    var(--color-brand-blue-700) 25%,
    var(--color-brand-blue-600) 37.5%,
    var(--color-brand-blue-500) 50%,
    var(--color-brand-blue-400) 62.5%,
    var(--color-brand-blue-300) 75%,
    var(--color-brand-blue-200) 87.5%,
    var(--color-brand-blue-100) 100%
  );

  /* Tech colors */
  --color-brand-typescript: oklch(0 0 0);
  --color-brand-go: oklch(0.347 0.081 259.2);
  --color-brand-java: oklch(0.619 0.109 259.2);
  --color-brand-python: oklch(0.887 0.05 259.2);
  --color-brand-c: oklch(0.279 0 204.2);
  --color-brand-terraform: oklch(0.551 0.05 156.2);
  --color-brand-unity: oklch(0.823 0.102 108.2);
  --color-brand-php: oklch(0.213 0.105 63.7);
  --color-brand-swift: oklch(0.557 0.157 47.7);
  --color-brand-ruby: oklch(0.784 0.181 29.5);
  --color-brand-postman: oklch(0.891 0 0);

  --gradient-brand-primary-colors: var(--color-brand-php) 0%,
    var(--color-brand-swift) 12.56%, var(--color-brand-ruby) 25.06%,
    var(--color-brand-unity) 37.56%, var(--color-brand-terraform) 50.06%,
    var(--color-brand-c) 62.06%, var(--color-brand-go) 74.06%,
    var(--color-brand-java) 86.06%, var(--color-brand-python) 97.06%;

  --gradient-brand-primary: linear-gradient(
    90deg,
    var(--gradient-brand-primary-colors)
  );

  --gradient-brand-primary-y: linear-gradient(
    180deg,
    var(--gradient-brand-primary-colors)
  );

  /* Feedback colors */

  /* Destructive */
  --color-destructive-100: oklch(0.97 0.02 29.2);
  --color-destructive-200: oklch(0.89 0.06 34.2);
  --color-destructive-300: oklch(0.81 0.1 38.7);
  --color-destructive-400: oklch(0.73 0.14 43.2);
  --color-destructive-500: oklch(0.65 0.18 47.7);
  --color-destructive-600: oklch(0.57 0.22 51.7);
  --color-destructive-700: oklch(0.49 0.26 55.7);
  --color-destructive-800: oklch(0.41 0.3 59.7);
  --color-destructive-900: oklch(0.33 0.34 63.7);

  /* Warning */
  --color-warning-100: oklch(0.97 0.02 80.2);
  --color-warning-200: oklch(0.89 0.06 85.2);
  --color-warning-300: oklch(0.81 0.1 90.2);
  --color-warning-400: oklch(0.73 0.14 95.2);
  --color-warning-500: oklch(0.65 0.18 100.2);
  --color-warning-600: oklch(0.57 0.22 105.2);
  --color-warning-700: oklch(0.49 0.26 110.2);
  --color-warning-800: oklch(0.41 0.3 115.2);
  --color-warning-900: oklch(0.33 0.34 120.2);

  /* Success */
  --color-success-100: oklch(0.97 0.02 140.2);
  --color-success-200: oklch(0.89 0.06 145.2);
  --color-success-300: oklch(0.81 0.1 150.2);
  --color-success-400: oklch(0.73 0.14 155.2);
  --color-success-500: oklch(0.65 0.18 160.2);
  --color-success-600: oklch(0.57 0.22 165.2);
  --color-success-700: oklch(0.49 0.26 170.2);
  --color-success-800: oklch(0.41 0.3 175.2);
  --color-success-900: oklch(0.33 0.34 180.2);

  /* Information */
  --color-info-100: oklch(0.97 0.02 250.2);
  --color-info-200: oklch(0.89 0.06 255.2);
  --color-info-300: oklch(0.81 0.1 260.2);
  --color-info-400: oklch(0.73 0.14 265.2);
  --color-info-500: oklch(0.65 0.18 270.2);
  --color-info-600: oklch(0.57 0.22 275.2);
  --color-info-700: oklch(0.49 0.26 280.2);
  --color-info-800: oklch(0.41 0.3 285.2);
  --color-info-900: oklch(0.33 0.34 290.2);

  --color-link-default: oklch(0.547 0.14 248.2);
  --color-link-visited-primary: oklch(0.347 0.14 248.2);
  --color-link-visited-secondary: oklch(0.693 0.02 248.2);

  /* Dimensions */
  --header-height: 65px;

  --background-pure: var(--color-base-white);
  --background: var(--color-neutral-100);
  --foreground: var(--color-base-black);
}

@theme inline {
  --color-background-pure: var(--background-pure);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gradient-primary: var(--gradient-brand-primary);
  --color-border: var(--color-neutral-200);

  --font-display: var(--font-tobias), serif;
  --font-sans: var(--font-diatype), var(--font-diatype-mono), sans-serif;
  --font-mono: var(--font-diatype-mono), monospace;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-pure: var(--color-base-black);
    --background: var(--color-base-black);
    --foreground: var(--color-base-white);
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-diatype), var(--font-diatype-mono), var(--font-tobias),
    sans-serif;
}

/* Display */
@utility text-display-xl {
  font-size: 5.625rem;
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: -0.04em;
  font-family: var(--font-tobias);
}
@utility text-display-lg {
  font-size: 4.188rem;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: -0.04em;
  font-family: var(--font-tobias);
}
@utility text-display-md {
  font-size: 3.188rem;
  font-weight: 100;
  line-height: 1.3;
  letter-spacing: -0.04em;
  font-family: var(--font-tobias);
}
@utility text-display-sm {
  font-size: 2.375rem;
  font-weight: 100;
  line-height: 1.375;
  letter-spacing: -0.04em;
  font-family: var(--font-tobias);
}
@utility text-display-xs {
  font-size: 1.75rem;
  font-weight: 100;
  line-height: 1.4;
  letter-spacing: -0.04em;
  font-family: var(--font-tobias);
}

/* Heading */

@utility text-heading-xl {
  font-size: 2.063rem;
  font-weight: 300;
  line-height: 1.375;
  letter-spacing: 0.0015em;
  font-family: var(--font-diatype);
}
@utility text-heading-lg {
  font-size: 1.813rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.0015em;
  font-family: var(--font-diatype);
}
@utility text-heading-md {
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.0015em;
  font-family: var(--font-diatype);
}
@utility text-heading-sm {
  font-size: 1.438rem;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.0015em;
  font-family: var(--font-diatype);
}
@utility text-heading-xs {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.0015em;
  font-family: var(--font-diatype);
}

@utility header-base {
  @apply bg-background-pure/90 fixed top-0 left-0 right-0 z-[999] flex h-[var(--header-height)] items-center;
}

/* Custom gradient utility for Tailwind */
@layer utilities {
  .bg-gradient-primary {
    background: var(--gradient-brand-primary);
  }
}
