{
  "command": "npx",
  "args": [
    "mcp-remote",
    "{{ .MCPURL }}"{{- range $i, $header := .Headers }},
    "--header",
    "{{ $header }}:${{ "{" }}{{ index $.EnvHeaders $i }}{{ "}" }}"{{- end }}
  ]{{- if (gt (len .Headers) 0) }},
  "env": {
    {{- range $i, $header := .Headers }}{{- if $i }},{{ end }}
    "{{ index $.EnvHeaders $i }}": "<your-value-here>"{{- end }}
  }{{- end }}
}
