{
  "command": "npx",
  "args": [
    "mcp-remote",
    "{{ .MCPURL }}"{{- range .Headers }},
    "--header",
    "{{ printf "%s:${%s}" . . }}"{{- end }}
  ]{{- if (gt (len .Headers) 0) }},
  "env": {
    {{- range $i, $header := .Headers }}{{- if $i }},{{ end }}
    "{{ $header }}": "<your-value-here>"{{- end }}
  }{{- end }}
}
