{
  "mcpServers": {
    "{{ .MCPName }}": {
      "command": "npx",
      "args": [
          "mcp-remote",
          "{{ .MCPURL }}"
{{- range .Headers }}
          "--header",
          "{{ . }}:${VALUE}"
{{- end }}
        ]
    }
  }
}