<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OAuth Failure</title>
  </head>
  <body>
    <main>
      <h1>Failure</h1>
      {{ .RedirectURL }}
    </main>
  </body>
</html>
