openapi: 3.0.3
info:
  title: Gram API Description
  description: Gram is the tools platform for AI agents
  version: 0.0.1
servers:
  - url: https://app.getgram.ai
paths:
  /otel/v1/logs:
    post:
      description: Endpoint to receive OTEL logs data from LLM providers and harnesses.
      operationId: uploadLogs
      parameters:
        - allowEmptyValue: true
          description: API Key header
          in: header
          name: Gram-Key
          schema:
            description: API Key header
            type: string
        - allowEmptyValue: true
          description: project header
          in: header
          name: Gram-Project
          schema:
            description: project header
            type: string
        - allowEmptyValue: true
          description: Encoding applied to the OTLP request body. Supported values are gzip and identity.
          in: header
          name: Content-Encoding
          schema:
            description: Encoding applied to the OTLP request body. Supported values are gzip and identity.
            type: string
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - apikey_header_Gram-Key: []
          project_slug_header_Gram-Project: []
        - {}
      summary: logs otel
      tags:
        - otel
      x-speakeasy-name-override: uploadLogs
      x-speakeasy-react-hook:
        name: UploadOpenTelemetryLogs
  /otel/v1/metrics:
    post:
      description: Endpoint to receive OTEL metrics data from LLM providers and harnesses.
      operationId: uploadMetrics
      parameters:
        - allowEmptyValue: true
          description: API Key header
          in: header
          name: Gram-Key
          schema:
            description: API Key header
            type: string
        - allowEmptyValue: true
          description: project header
          in: header
          name: Gram-Project
          schema:
            description: project header
            type: string
        - allowEmptyValue: true
          description: Encoding applied to the OTLP request body. Supported values are gzip and identity.
          in: header
          name: Content-Encoding
          schema:
            description: Encoding applied to the OTLP request body. Supported values are gzip and identity.
            type: string
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - apikey_header_Gram-Key: []
          project_slug_header_Gram-Project: []
        - {}
      summary: metrics otel
      tags:
        - otel
      x-speakeasy-name-override: uploadMetrics
      x-speakeasy-react-hook:
        name: UploadOpenTelemetryMetrics
  /otel/v1/traces:
    post:
      description: Endpoint to receive OTEL traces data from LLM providers and harnesses.
      operationId: uploadTraces
      parameters:
        - allowEmptyValue: true
          description: API Key header
          in: header
          name: Gram-Key
          schema:
            description: API Key header
            type: string
        - allowEmptyValue: true
          description: project header
          in: header
          name: Gram-Project
          schema:
            description: project header
            type: string
        - allowEmptyValue: true
          description: Encoding applied to the OTLP request body. Supported values are gzip and identity.
          in: header
          name: Content-Encoding
          schema:
            description: Encoding applied to the OTLP request body. Supported values are gzip and identity.
            type: string
      responses:
        "200":
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - apikey_header_Gram-Key: []
          project_slug_header_Gram-Project: []
        - {}
      summary: traces otel
      tags:
        - otel
      x-speakeasy-name-override: uploadTraces
      x-speakeasy-react-hook:
        name: UploadOpenTelemetryTraces
  /rpc/access.createRole:
    post:
      description: Create a new custom role.
      operationId: createRole
      parameters:
        - allowEmptyValue: true
          description: API Key header
          in: header
          name: Gram-Key
          schema:
            description: API Key header
            type: string
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleForm'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: Created response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - apikey_header_Gram-Key: []
        - session_header_Gram-Session: []
        - {}
      summary: createRole access
      tags:
        - access
      x-speakeasy-name-override: createRole
      x-speakeasy-react-hook:
        name: CreateRole
  /rpc/access.deleteRole:
    delete:
      description: Delete a custom role (system roles cannot be deleted).
      operationId: deleteRole
      parameters:
        - allowEmptyValue: true
          description: The ID of the role to delete.
          in: query
          name: id
          required: true
          schema:
            description: The ID of the role to delete.
            type: string
        - allowEmptyValue: true
          description: API Key header
          in: header
          name: Gram-Key
          schema:
            description: API Key header
            type: string
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      responses:
        "204":
          description: No Content response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - apikey_header_Gram-Key: []
        - session_header_Gram-Session: []
        - {}
      summary: deleteRole access
      tags:
        - access
      x-speakeasy-name-override: deleteRole
      x-speakeasy-react-hook:
        name: DeleteRole
  /rpc/access.getRole:
    get:
      description: Get a role by ID.
      operationId: getRole
      parameters:
        - allowEmptyValue: true
          description: The ID of the role.
          in: query
          name: id
          required: true
          schema:
            description: The ID of the role.
            type: string
        - allowEmptyValue: true
          description: API Key header
          in: header
          name: Gram-Key
          schema:
            description: API Key header
            type: string
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - apikey_header_Gram-Key: []
        - session_header_Gram-Session: []
        - {}
      summary: getRole access
      tags:
        - access
      x-speakeasy-name-override: getRole
      x-speakeasy-react-hook:
        name: Role
  /rpc/access.getShadowMCPInventoryServer:
    get:
      description: Get one project-scoped Shadow MCP server inventory URL with usage and policy-bypass state.
      operationId: getShadowMCPInventoryServer
      parameters:
        - allowEmptyValue: true
          in: query
          name: project_id
          required: true
          schema:
            format: uuid
            type: string
        - allowEmptyValue: true
          description: Shadow MCP server slug to inspect.
          in: query
          name: server_slug
          required: true
          schema:
            description: Shadow MCP server slug to inspect.
            type: string
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShadowMCPInventoryServer'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - session_header_Gram-Session: []
        - {}
      summary: getShadowMCPInventoryServer access
      tags:
        - access
      x-speakeasy-name-override: getShadowMCPInventoryServer
      x-speakeasy-react-hook:
        name: ShadowMCPInventoryServer
  /rpc/access.listChallengeBuckets:
    get:
      description: List authz challenges grouped into time-based burst buckets. Consecutive challenges with the same dimensions within a 10-minute window are collapsed into a single bucket.
      operationId: listChallengeBuckets
      parameters:
        - allowEmptyValue: true
          description: Filter by outcome.
          in: query
          name: outcome
          schema:
            description: Filter by outcome.
            enum:
              - allow
              - deny
            type: string
        - allowEmptyValue: true
          description: Filter by principal URN.
          in: query
          name: principal_urn
          schema:
            description: Filter by principal URN.
            type: string
        - allowEmptyValue: true
          description: Filter by scope.
          in: query
          name: scope
          schema:
            description: Filter by scope.
            type: string
        - allowEmptyValue: true
          description: Filter to a specific project.
          in: query
          name: project_id
          schema:
            description: Filter to a specific project.
            type: string
        - allowEmptyValue: true
          description: Filter by resolution state. True = only resolved, false = only unresolved.
          in: query
          name: resolved
          schema:
            description: Filter by resolution state. True = only resolved, false = only unresolved.
            type: boolean
        - allowEmptyValue: true
          description: Maximum number of buckets to return.
          in: query
          name: limit
          schema:
            default: 50
            description: Maximum number of buckets to return.
            format: int64
            maximum: 200
            minimum: 1
            type: integer
        - allowEmptyValue: true
          description: Number of buckets to skip.
          in: query
          name: offset
          schema:
            default: 0
            description: Number of buckets to skip.
            format: int64
            minimum: 0
            type: integer
        - allowEmptyValue: true
          description: API Key header
          in: header
          name: Gram-Key
          schema:
            description: API Key header
            type: string
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChallengeBucketsResult'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - apikey_header_Gram-Key: []
        - session_header_Gram-Session: []
        - {}
      summary: listChallengeBuckets access
      tags:
        - access
      x-speakeasy-name-override: listChallengeBuckets
      x-speakeasy-react-hook:
        name: ChallengeBuckets
  /rpc/access.listChallenges:
    get:
      description: List authz challenge events from ClickHouse, enriched with resolution state from PostgreSQL.
      operationId: listChallenges
      parameters:
        - allowEmptyValue: true
          description: Filter by outcome.
          in: query
          name: outcome
          schema:
            description: Filter by outcome.
            enum:
              - allow
              - deny
            type: string
        - allowEmptyValue: true
          description: Filter by principal URN.
          in: query
          name: principal_urn
          schema:
            description: Filter by principal URN.
            type: string
        - allowEmptyValue: true
          description: Filter by scope.
          in: query
          name: scope
          schema:
            description: Filter by scope.
            type: string
        - allowEmptyValue: true
          description: Filter to a specific project.
          in: query
          name: project_id
          schema:
            description: Filter to a specific project.
            type: string
        - allowEmptyValue: true
          description: Filter by resolution state. True = only resolved, false = only unresolved.
          in: query
          name: resolved
          schema:
            description: Filter by resolution state. True = only resolved, false = only unresolved.
            type: boolean
        - allowEmptyValue: true
          description: Fetch specific challenges by ID. When set, other filters and pagination are ignored.
          in: query
          name: ids
          schema:
            description: Fetch specific challenges by ID. When set, other filters and pagination are ignored.
            items:
              type: string
            type: array
        - allowEmptyValue: true
          description: Inclusive start of the window to list challenges from. Omit for the whole history.
          in: query
          name: from
          schema:
            description: Inclusive start of the window to list challenges from. Omit for the whole history.
            format: date-time
            type: string
        - allowEmptyValue: true
          description: Exclusive end of the window to list challenges from. Omit for the whole history.
          in: query
          name: to
          schema:
            description: Exclusive end of the window to list challenges from. Omit for the whole history.
            format: date-time
            type: string
        - allowEmptyValue: true
          description: Maximum number of results to return.
          in: query
          name: limit
          schema:
            default: 50
            description: Maximum number of results to return.
            format: int64
            maximum: 200
            minimum: 1
            type: integer
        - allowEmptyValue: true
          description: Number of results to skip.
          in: query
          name: offset
          schema:
            default: 0
            description: Number of results to skip.
            format: int64
            minimum: 0
            type: integer
        - allowEmptyValue: true
          description: API Key header
          in: header
          name: Gram-Key
          schema:
            description: API Key header
            type: string
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChallengesResult'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - apikey_header_Gram-Key: []
        - session_header_Gram-Session: []
        - {}
      summary: listChallenges access
      tags:
        - access
      x-speakeasy-name-override: listChallenges
      x-speakeasy-react-hook:
        name: Challenges
  /rpc/access.listGrants:
    get:
      description: List the current user's effective grants, including inherited role grants.
      operationId: listGrants
      parameters:
        - allowEmptyValue: true
          description: API Key header
          in: header
          name: Gram-Key
          schema:
            description: API Key header
            type: string
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserGrantsResult'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - apikey_header_Gram-Key: []
        - session_header_Gram-Session: []
        - {}
      summary: listGrants access
      tags:
        - access
      x-speakeasy-name-override: listGrants
      x-speakeasy-react-hook:
        name: Grants
  /rpc/access.listMembers:
    get:
      description: List all team members with their role assignments.
      operationId: listMembers
      parameters:
        - allowEmptyValue: true
          description: API Key header
          in: header
          name: Gram-Key
          schema:
            description: API Key header
            type: string
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMembersResult'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - apikey_header_Gram-Key: []
        - session_header_Gram-Session: []
        - {}
      summary: listMembers access
      tags:
        - access
      x-speakeasy-name-override: listMembers
      x-speakeasy-react-hook:
        name: Members
  /rpc/access.listRoles:
    get:
      description: List all roles for the current organization.
      operationId: listRoles
      parameters:
        - allowEmptyValue: true
          description: API Key header
          in: header
          name: Gram-Key
          schema:
            description: API Key header
            type: string
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRolesResult'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - apikey_header_Gram-Key: []
        - session_header_Gram-Session: []
        - {}
      summary: listRoles access
      tags:
        - access
      x-speakeasy-name-override: listRoles
      x-speakeasy-react-hook:
        name: Roles
  /rpc/access.listScopes:
    get:
      description: List all available scopes and their resource types.
      operationId: listScopes
      parameters:
        - allowEmptyValue: true
          description: API Key header
          in: header
          name: Gram-Key
          schema:
            description: API Key header
            type: string
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScopesResult'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - apikey_header_Gram-Key: []
        - session_header_Gram-Session: []
        - {}
      summary: listScopes access
      tags:
        - access
      x-speakeasy-name-override: listScopes
      x-speakeasy-react-hook:
        name: ListScopes
  /rpc/access.listShadowMCPInventory:
    get:
      description: List project-scoped Shadow MCP server inventory composed from observed URLs, telemetry usage, and policy-bypass state.
      operationId: listShadowMCPInventory
      parameters:
        - allowEmptyValue: true
          in: query
          name: project_id
          required: true
          schema:
            format: uuid
            type: string
        - allowEmptyValue: true
          in: query
          name: limit
          schema:
            default: 50
            format: int64
            maximum: 200
            minimum: 1
            type: integer
        - allowEmptyValue: true
          description: Cursor for the next page of results.
          in: query
          name: cursor
          schema:
            description: Cursor for the next page of results.
            type: string
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListShadowMCPInventoryResult'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - session_header_Gram-Session: []
        - {}
      summary: listShadowMCPInventory access
      tags:
        - access
      x-speakeasy-name-override: listShadowMCPInventory
      x-speakeasy-react-hook:
        name: ShadowMCPInventory
  /rpc/access.listShadowMCPInventoryServersForUser:
    get:
      description: List the Shadow MCP servers one person reached, with each server's access state. The inverse of listShadowMCPInventoryUsers, which expands a single server into its users.
      operationId: listShadowMCPInventoryServersForUser
      parameters:
        - allowEmptyValue: true
          in: query
          name: project_id
          required: true
          schema:
            format: uuid
            type: string
        - allowEmptyValue: true
          description: The identifiers to attribute usage to, matched against the reported email or user id. Pass every identifier the subject is known by.
          in: query
          name: user_keys
          required: true
          schema:
            description: The identifiers to attribute usage to, matched against the reported email or user id. Pass every identifier the subject is known by.
            items:
              type: string
            maxItems: 200
            minItems: 1
            type: array
        - allowEmptyValue: true
          description: Inclusive start of the window to attribute calls from. Omit for the whole history.
          in: query
          name: from
          schema:
            description: Inclusive start of the window to attribute calls from. Omit for the whole history.
            format: date-time
            type: string
        - allowEmptyValue: true
          description: Exclusive end of the window to attribute calls from. Omit for the whole history.
          in: query
          name: to
          schema:
            description: Exclusive end of the window to attribute calls from. Omit for the whole history.
            format: date-time
            type: string
        - allowEmptyValue: true
          in: query
          name: limit
          schema:
            default: 50
            format: int64
            maximum: 200
            minimum: 1
            type: integer
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListShadowMCPInventoryResult'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - session_header_Gram-Session: []
        - {}
      summary: listShadowMCPInventoryServersForUser access
      tags:
        - access
      x-speakeasy-name-override: listShadowMCPInventoryServersForUser
      x-speakeasy-react-hook:
        name: ShadowMCPInventoryServersForUser
  /rpc/access.listShadowMCPInventoryUsers:
    get:
      description: List users with observed telemetry usage for one project-scoped Shadow MCP server URL.
      operationId: listShadowMCPInventoryUsers
      parameters:
        - allowEmptyValue: true
          in: query
          name: project_id
          required: true
          schema:
            format: uuid
            type: string
        - allowEmptyValue: true
          description: Shadow MCP server URL to expand.
          in: query
          name: server_url
          required: true
          schema:
            description: Shadow MCP server URL to expand.
            format: uri
            type: string
        - allowEmptyValue: true
          in: query
          name: limit
          schema:
            default: 50
            format: int64
            maximum: 200
            minimum: 1
            type: integer
        - allowEmptyValue: true
          description: Cursor for the next page of results.
          in: query
          name: cursor
          schema:
            description: Cursor for the next page of results.
            type: string
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListShadowMCPInventoryUsersResult'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - session_header_Gram-Session: []
        - {}
      summary: listShadowMCPInventoryUsers access
      tags:
        - access
      x-speakeasy-name-override: listShadowMCPInventoryUsers
      x-speakeasy-react-hook:
        name: ShadowMCPInventoryUsers
  /rpc/access.requestAccess:
    post:
      description: Request access to a scope by sending an email notification to organization administrators.
      operationId: requestAccess
      parameters:
        - allowEmptyValue: true
          description: API Key header
          in: header
          name: Gram-Key
          schema:
            description: API Key header
            type: string
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestAccessForm'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestAccessResult'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - apikey_header_Gram-Key: []
        - session_header_Gram-Session: []
        - {}
      summary: requestAccess access
      tags:
        - access
      x-speakeasy-name-override: requestAccess
      x-speakeasy-react-hook:
        name: RequestAccess
        type: mutation
  /rpc/access.resolveChallenge:
    post:
      description: Record resolutions for one or more denied authz challenges. The caller is responsible for assigning the role first.
      operationId: resolveChallenge
      parameters:
        - allowEmptyValue: true
          description: API Key header
          in: header
          name: Gram-Key
          schema:
            description: API Key header
            type: string
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveChallengeForm'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolveChallengesResult'
          description: Created response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - apikey_header_Gram-Key: []
        - session_header_Gram-Session: []
        - {}
      summary: resolveChallenge access
      tags:
        - access
      x-speakeasy-name-override: resolveChallenge
      x-speakeasy-react-hook:
        name: ResolveChallenge
  /rpc/access.resolveShadowMCPInventoryRequest:
    post:
      description: Review the latest pending Shadow MCP URL request and resolve all pending requests for that URL.
      operationId: resolveShadowMCPInventoryRequest
      parameters:
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveShadowMCPInventoryRequestForm'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShadowMCPInventoryURLState'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - session_header_Gram-Session: []
        - {}
      summary: resolveShadowMCPInventoryRequest access
      tags:
        - access
      x-speakeasy-name-override: resolveShadowMCPInventoryRequest
      x-speakeasy-react-hook:
        name: ResolveShadowMCPInventoryRequest
        type: mutation
  /rpc/access.updateMemberRoles:
    put:
      description: Update a team member's role assignments.
      operationId: updateMemberRoles
      parameters:
        - allowEmptyValue: true
          description: API Key header
          in: header
          name: Gram-Key
          schema:
            description: API Key header
            type: string
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMemberRolesForm'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessMember'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - apikey_header_Gram-Key: []
        - session_header_Gram-Session: []
        - {}
      summary: updateMemberRoles access
      tags:
        - access
      x-speakeasy-name-override: updateMemberRoles
      x-speakeasy-react-hook:
        name: UpdateMemberRoles
  /rpc/access.updateRole:
    put:
      description: Update an existing custom role.
      operationId: updateRole
      parameters:
        - allowEmptyValue: true
          description: API Key header
          in: header
          name: Gram-Key
          schema:
            description: API Key header
            type: string
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoleForm'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - apikey_header_Gram-Key: []
        - session_header_Gram-Session: []
        - {}
      summary: updateRole access
      tags:
        - access
      x-speakeasy-name-override: updateRole
      x-speakeasy-react-hook:
        name: UpdateRole
  /rpc/access.updateShadowMCPInventoryServerName:
    post:
      description: Update or clear the administrator-defined display name for one project-scoped Shadow MCP inventory server URL.
      operationId: updateShadowMCPInventoryServerName
      parameters:
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateShadowMCPInventoryServerNameForm'
        required: true
      responses:
        "204":
          description: No Content response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - session_header_Gram-Session: []
        - {}
      summary: updateShadowMCPInventoryServerName access
      tags:
        - access
      x-speakeasy-name-override: updateShadowMCPInventoryServerName
      x-speakeasy-react-hook:
        name: UpdateShadowMCPInventoryServerName
        type: mutation
  /rpc/adminAssets.uploadImage:
    post:
      description: Upload a platform-tier image (e.g. a global remote identity provider logo). Requires platform admin.
      operationId: uploadPlatformImage
      parameters:
        - allowEmptyValue: true
          in: header
          name: Content-Type
          required: true
          schema:
            type: string
        - allowEmptyValue: true
          in: header
          name: Content-Length
          required: true
          schema:
            format: int64
            type: integer
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadImageResult'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - session_header_Gram-Session: []
        - {}
      summary: uploadPlatformImage adminAssets
      tags:
        - adminAssets
      x-speakeasy-name-override: uploadImage
      x-speakeasy-react-hook:
        name: UploadPlatformImage
  /rpc/adminChatAnalysis.getSettings:
    get:
      description: Get the named organization's chat analysis settings. Requires platform admin.
      operationId: getChatAnalysisSettings
      parameters:
        - allowEmptyValue: true
          description: Organization whose settings to read.
          in: query
          name: organization_id
          required: true
          schema:
            description: Organization whose settings to read.
            type: string
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatAnalysisSettings'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - session_header_Gram-Session: []
        - {}
      summary: getSettings adminChatAnalysis
      tags:
        - adminChatAnalysis
      x-speakeasy-name-override: getSettings
      x-speakeasy-react-hook:
        name: ChatAnalysisSettings
  /rpc/adminChatAnalysis.triggerAnalysis:
    post:
      description: Wake the chat analysis coordinator for every project in the named organization, instead of waiting for the periodic sweep. Requires platform admin.
      operationId: triggerChatAnalysis
      parameters:
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerAnalysisRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerAnalysisResponseBody'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - session_header_Gram-Session: []
        - {}
      summary: triggerAnalysis adminChatAnalysis
      tags:
        - adminChatAnalysis
      x-speakeasy-name-override: triggerAnalysis
      x-speakeasy-react-hook:
        name: TriggerChatAnalysis
  /rpc/adminChatAnalysis.upsertBusinessMemorySettings:
    post:
      description: Create or replace the named organization's business-memory extraction settings. Requires platform admin.
      operationId: upsertBusinessMemoryAnalysisSettings
      parameters:
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertBusinessMemorySettingsRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatAnalysisSettings'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - session_header_Gram-Session: []
        - {}
      summary: upsertBusinessMemorySettings adminChatAnalysis
      tags:
        - adminChatAnalysis
      x-speakeasy-name-override: upsertBusinessMemorySettings
      x-speakeasy-react-hook:
        name: UpsertBusinessMemoryAnalysisSettings
  /rpc/adminChatAnalysis.upsertWorkUnitsSettings:
    post:
      description: Create or replace the named organization's chat analysis settings. Requires platform admin.
      operationId: upsertChatAnalysisSettings
      parameters:
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertWorkUnitsSettingsRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatAnalysisSettings'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - session_header_Gram-Session: []
        - {}
      summary: upsertWorkUnitsSettings adminChatAnalysis
      tags:
        - adminChatAnalysis
      x-speakeasy-name-override: upsertWorkUnitsSettings
      x-speakeasy-react-hook:
        name: UpsertChatAnalysisSettings
  /rpc/adminExternalCredentials.createGcpIam:
    post:
      description: Create a platform GCP IAM external credential (organization_id NULL, project_id NULL). Requires platform admin.
      operationId: createGcpIamPlatformCredential
      parameters:
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlatformGcpIamCredentialForm'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GcpIamCredential'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - session_header_Gram-Session: []
        - {}
      summary: createGcpIamPlatformCredential adminExternalCredentials
      tags:
        - adminExternalCredentials
      x-speakeasy-name-override: createGcpIam
      x-speakeasy-react-hook:
        name: CreateGcpIamPlatformCredential
  /rpc/adminExternalCredentials.deleteGcpIam:
    delete:
      description: Soft-delete a platform GCP IAM external credential by ID. Requires platform admin.
      operationId: deleteGcpIamPlatformCredential
      parameters:
        - allowEmptyValue: true
          description: The ID of the credential to delete.
          in: query
          name: id
          required: true
          schema:
            description: The ID of the credential to delete.
            format: uuid
            type: string
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      responses:
        "204":
          description: No Content response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - session_header_Gram-Session: []
        - {}
      summary: deleteGcpIamPlatformCredential adminExternalCredentials
      tags:
        - adminExternalCredentials
      x-speakeasy-name-override: deleteGcpIam
      x-speakeasy-react-hook:
        name: DeleteGcpIamPlatformCredential
  /rpc/adminExternalCredentials.getGcpIam:
    get:
      description: Get a platform GCP IAM external credential by ID. Requires platform admin.
      operationId: getGcpIamPlatformCredential
      parameters:
        - allowEmptyValue: true
          description: The ID of the credential to get.
          in: query
          name: id
          required: true
          schema:
            description: The ID of the credential to get.
            format: uuid
            type: string
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GcpIamCredential'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - session_header_Gram-Session: []
        - {}
      summary: getGcpIamPlatformCredential adminExternalCredentials
      tags:
        - adminExternalCredentials
      x-speakeasy-name-override: getGcpIam
      x-speakeasy-react-hook:
        name: GetGcpIamPlatformCredential
  /rpc/adminExternalCredentials.list:
    get:
      description: List the platform external credentials (provider-independent summary). Optionally filter by provider. Requires platform admin.
      operationId: listPlatformExternalCredentials
      parameters:
        - allowEmptyValue: true
          description: Only return credentials for this provider.
          in: query
          name: provider
          schema:
            description: Only return credentials for this provider.
            enum:
              - aws_iam
              - gcp_iam
            type: string
        - allowEmptyValue: true
          description: Session header
          in: header
          name: Gram-Session
          schema:
            description: Session header
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExternalCredentialsResult'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'bad_request: request is invalid'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unauthorized: unauthorized access'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'forbidden: permission denied'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'not_found: resource not found'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'conflict: resource already exists'
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unsupported_media: unsupported media type'
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'invalid: request contains one or more invalidation fields'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'unexpected: an unexpected error occurred'
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'gateway_error: an unexpected error occurred'
      security:
        - session_header_Gram-Session: []
        - {}
      summary: listPlatformExternalCredentials adminExternalCredentials
      tags:
        - adminExternalCredentials
      x-speakeasy-name-override: list
      x-speakeasy-react-hook:
        name: ListPlatformExternalCredentials
  /rpc/adminExternalCredentials.updateGcpIam:
    post:
      description: Replace a platform GCP IAM external credential's configuration. Requires platform admin.
      operationId: updateGcpIamPlatformCredential
      parameters:
[...]
