/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import * as z from "zod/v4-mini";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { RemoteSessionClient$inboundSchema, } from "../models/components/remotesessionclient.js";
import { ServiceError$inboundSchema, } from "../models/errors/serviceerror.js";
import { CreateCimdOrganizationRemoteSessionClientRequest$outboundSchema, } from "../models/operations/createcimdorganizationremotesessionclient.js";
import { APIPromise } from "../types/async.js";
/**
 * createCimdClient organizationRemoteSessionClients
 *
 * @remarks
 * Register a standalone remote_session_client in Client ID Metadata Document (CIMD) mode under an existing remote_session_issuer in the caller's organization, with no user_session_issuer attachments. Gram generates the client_id and hosts the metadata document; the issuer must advertise client_id_metadata_document_supported. The client is project-scoped: it inherits a project-specific issuer's project, or the caller names a project (which must belong to the organization) when the issuer is organization-level. Requires org:admin.
 */
export function organizationRemoteSessionClientsCreateCimd(client, request, security, options) {
    return new APIPromise($do(client, request, security, options));
}
async function $do(client, request, security, options) {
    const parsed = safeParse(request, (value) => z.parse(CreateCimdOrganizationRemoteSessionClientRequest$outboundSchema, value), "Input validation failed");
    if (!parsed.ok) {
        return [parsed, { status: "invalid" }];
    }
    const payload = parsed.value;
    const body = encodeJSON("body", payload.CreateCimdOrganizationRemoteSessionClientForm, { explode: true });
    const path = pathToFunc("/rpc/organizationRemoteSessionClients.createCimd")();
    const headers = new Headers(compactMap({
        "Content-Type": "application/json",
        Accept: "application/json",
        "Gram-Key": encodeSimple("Gram-Key", payload["Gram-Key"], {
            explode: false,
            charEncoding: "none",
        }),
        "Gram-Session": encodeSimple("Gram-Session", payload["Gram-Session"], {
            explode: false,
            charEncoding: "none",
        }),
    }));
    const requestSecurity = resolveSecurity([
        {
            fieldName: "Gram-Session",
            type: "apiKey:header",
            value: security?.sessionHeaderGramSession,
        },
    ], [
        {
            fieldName: "Gram-Key",
            type: "apiKey:header",
            value: security?.apikeyHeaderGramKey,
        },
    ]);
    const context = {
        options: client._options,
        baseURL: options?.serverURL ?? client._baseURL ?? "",
        operationID: "createCimdOrganizationRemoteSessionClient",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: security,
        retryConfig: options?.retries
            || client._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
    };
    const requestRes = client._createRequest(context, {
        security: requestSecurity,
        method: "POST",
        baseURL: options?.serverURL,
        path: path,
        headers: headers,
        body: body,
        userAgent: client._options.userAgent,
        timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req = requestRes.value;
    const doResult = await client._do(req, {
        context,
        isErrorStatusCode: (statusCode) => matchStatusCode({ status: statusCode }, ["4XX", "5XX"]),
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req }];
    }
    const response = doResult.value;
    const responseFields = {
        HttpMeta: { Response: response, Request: req },
    };
    const [result] = await M.match(M.json(200, RemoteSessionClient$inboundSchema), M.jsonErr([400, 401, 403, 404, 409, 415, 422], ServiceError$inboundSchema), M.jsonErr([500, 502], ServiceError$inboundSchema), M.fail("4XX"), M.fail("5XX"))(response, req, { extraFields: responseFields });
    if (!result.ok) {
        return [result, { status: "complete", request: req, response }];
    }
    return [result, { status: "complete", request: req, response }];
}
//# sourceMappingURL=organizationRemoteSessionClientsCreateCimd.js.map