/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import * as z from "zod/v4-mini";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { ListRiskResultsForAgentResult$inboundSchema } from "../models/components/listriskresultsforagentresult.js";
import { ServiceError$inboundSchema } from "../models/errors/serviceerror.js";
import { ListRiskResultsForAgentRequest$outboundSchema } from "../models/operations/listriskresultsforagent.js";
import { APIPromise } from "../types/async.js";
/**
 * listRiskResultsForAgent risk
 *
 * @remarks
 * List risk analysis results with the `match` field redacted to an opaque length+sha256-prefix fingerprint. Matches the payload and pagination semantics of listRiskResults. Designed for AI assistant / MCP consumption so secret content (gitleaks captures, presidio entities, prompt-injection payloads) never reaches the model context. For shadow_mcp findings the `match` value — a non-sensitive server URL or command identifier — is passed through verbatim.
 */
export function riskResultsListForAgent(client, request, security, options) {
  return new APIPromise($do(client, request, security, options));
}
async function $do(client, request, security, options) {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(z.optional(ListRiskResultsForAgentRequest$outboundSchema), value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;
  const path = pathToFunc("/rpc/risk.listResultsForAgent")();
  const query = encodeFormQuery({
    category: payload?.category,
    chat_id: payload?.chat_id,
    cursor: payload?.cursor,
    from: payload?.from,
    limit: payload?.limit,
    policy_id: payload?.policy_id,
    rule_id: payload?.rule_id,
    to: payload?.to,
    unique_match: payload?.unique_match,
    user_id: payload?.user_id,
  });
  const headers = new Headers(
    compactMap({
      Accept: "application/json",
      "Gram-Key": encodeSimple("Gram-Key", payload?.["Gram-Key"], {
        explode: false,
        charEncoding: "none",
      }),
      "Gram-Project": encodeSimple("Gram-Project", payload?.["Gram-Project"], {
        explode: false,
        charEncoding: "none",
      }),
      "Gram-Session": encodeSimple("Gram-Session", payload?.["Gram-Session"], {
        explode: false,
        charEncoding: "none",
      }),
    }),
  );
  const requestSecurity = resolveSecurity(
    [
      {
        fieldName: "Gram-Key",
        type: "apiKey:header",
        value: security?.option1?.apikeyHeaderGramKey,
      },
      {
        fieldName: "Gram-Project",
        type: "apiKey:header",
        value: security?.option1?.projectSlugHeaderGramProject,
      },
    ],
    [
      {
        fieldName: "Gram-Project",
        type: "apiKey:header",
        value: security?.option2?.projectSlugHeaderGramProject,
      },
      {
        fieldName: "Gram-Session",
        type: "apiKey:header",
        value: security?.option2?.sessionHeaderGramSession,
      },
    ],
  );
  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "listRiskResultsForAgent",
    oAuth2Scopes: null,
    resolvedSecurity: requestSecurity,
    securitySource: security,
    retryConfig: options?.retries ||
      client._options.retryConfig || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };
  const requestRes = client._createRequest(
    context,
    {
      security: requestSecurity,
      method: "GET",
      baseURL: options?.serverURL,
      path: path,
      headers: headers,
      query: query,
      body: body,
      userAgent: client._options.userAgent,
      timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
    },
    options,
  );
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;
  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode) =>
      matchStatusCode({ status: statusCode }, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;
  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };
  const [result] = await M.match(
    M.json(200, ListRiskResultsForAgentResult$inboundSchema),
    M.jsonErr([400, 401, 403, 404, 409, 415, 422], ServiceError$inboundSchema),
    M.jsonErr([500, 502], ServiceError$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }
  return [result, { status: "complete", request: req, response }];
}
//# sourceMappingURL=riskResultsListForAgent.js.map
