/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import * as z from "zod/v4-mini";
import { encodeJSON } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { pathToFunc } from "../lib/url.js";
import * as components from "../models/components/index.js";
import * as errors from "../models/errors/index.js";
import { APIPromise } from "../types/async.js";
/**
 * refresh tokenExchange
 *
 * @remarks
 * Rotate a refresh token for a fresh user-scoped access JWT and a newly rotated (single-use) refresh token. The opaque refresh token in the body is self-authenticating; no API key is required.
 */
export function tokenExchangeRefresh(client, request, options) {
  return new APIPromise($do(client, request, options));
}
async function $do(client, request, options) {
  const parsed = safeParse(
    request,
    (value) => z.parse(components.RefreshRequestBody$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });
  const path = pathToFunc("/rpc/token-exchange.refresh")();
  const headers = new Headers(
    compactMap({
      "Content-Type": "application/json",
      Accept: "application/json",
    }),
  );
  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "tokenExchangeRefresh",
    oAuth2Scopes: null,
    resolvedSecurity: null,
    securitySource: null,
    retryConfig: options?.retries ||
      client._options.retryConfig || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };
  const requestRes = client._createRequest(
    context,
    {
      method: "POST",
      baseURL: options?.serverURL,
      path: path,
      headers: headers,
      body: body,
      userAgent: client._options.userAgent,
      timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
    },
    options,
  );
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;
  const doResult = await client._do(req, {
    context,
    errorCodes: [
      "400",
      "401",
      "403",
      "404",
      "409",
      "415",
      "422",
      "4XX",
      "500",
      "502",
      "5XX",
    ],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;
  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };
  const [result] = await M.match(
    M.json(200, components.TokenResult$inboundSchema),
    M.jsonErr(
      [400, 401, 403, 404, 409, 415, 422],
      errors.ServiceError$inboundSchema,
    ),
    M.jsonErr([500, 502], errors.ServiceError$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }
  return [result, { status: "complete", request: req, response }];
}
//# sourceMappingURL=tokenExchangeRefresh.js.map
