name: Migrations
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/migrations.yaml
      - 'server/migrations/*'
  pull_request:
    paths:
      - 'server/migrations/*'

jobs:
  lint:
    runs-on: ubicloud-standard-4
    steps:
      - name: Checkout
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v5.0.0
        with:
          fetch-depth: 0
      - name: Setup Mise
        uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3.4.1
        with:
          install: true
          cache: true
          env: false
      - name: Prepare GitHub Actions environment
        run: mise run github
      - name: Lint migrations
        run: |
          mise run lint:migrations \
            --github-token ${{ github.token }} \
            --github-event-path ${{ github.event_path }}